// Insert Your Styles
$default-fonts: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
sans-serif;
$dark-90: rgba(45, 46, 79, 0.9);
$secondary: #82c1ea;
$primary: #2d2e4f;
$bg-blue: #eef5f7;
$text-urgent:#bfbfd7;